<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Goals</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="container">
        <div class="mb-4">
            <h1>Your Goals</h1>
        </div>

        <div th:if="${goals.empty}">
            <h3>You haven't defined any goals yet!</h3>
            <a href="/goals/create" class="btn btn-sm btn-primary">Start with creating one!</a>
        </div>

        <div class="row">
            <div class="col-md-6" th:each="goal, goalsStat: ${goals}">
                <!--                ${goalsStat.count}-->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${goal.getTitle()}"></h5>
                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                        <p class="card-text" th:text="${goal.getDescription()}"></p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Subgoals:</strong> <th:block>10</th:block></li>
                    </ul>

                    <div class="card-body">
                        <a th:href="@{'/goals/' + ${goal.uuid.toString()}}" class="btn btn-sm btn-primary ">View Goal Overview</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</th:block>

</body>
</html>