<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Goals</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="py-5 bg-light border">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h2" th:text="${goal.getTitle()}"></h1>
                    <p><span class="badge bg-primary" th:text="${goalDeadlineFormatted}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="mb-4">
            <h2 class="h3">Description</h2>
            <p th:text="${goal.getDescription()}"></p>
        </div>

        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h3">Subgoals <span class="badge rounded-pill bg-primary"
                                              th:text="${subgoalsCountFormatted}"></span></h2>
                <a th:href="@{/goals/{goalUuid}/subgoals/create(goalUuid=${goal.getUuid().toString()})}"
                   class="btn btn-sm btn-primary">Create Subgoal</a>
            </div>
        </div>

        <div th:if="${subgoals.empty}">
            <h3>You haven't defined any goals yet!</h3>
            <a href="/goals/create" class="btn btn-sm btn-primary">Start with creating one!</a>
        </div>

        <div class="row">
            <div class="col-md-6" th:each="subgoal, subgoalsStat: ${subgoals}">
                <!--                ${goalsStat.count}-->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${subgoal.getTitle()}"></h5>
                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                        <p class="card-text" th:text="${subgoal.getDescription()}"></p>
                    </div>
                    <div class="card-body">
                        <a th:href="@{'/goals/' + ${goal.uuid.toString()} + '/subgoals/' + ${subgoal.uuid.toString()}}"
                           class="btn btn-sm btn-primary ">View Subgoal
                            Overview</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>

</body>
</html>