<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Goals</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="py-5 bg-light border">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="h2" th:text="${goal.getTitle()}"></h1>
                    <p><span class="badge bg-primary" th:text="${goalDeadlineFormatted}"></span></p>
                </div>

                <div class="col-md-4">
                    <div class="d-flex justify-content-end">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="goalSettingsDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear"></i>
                            </button>

                            <ul class="dropdown-menu" aria-labelledby="goalSettingsDropdownMenuButton">
                                <li><a class="dropdown-item" th:href="@{/goals/{goalUuid}/edit(goalUuid=${goal.getUuid().toString()})}">Edit Goal</a></li>
                                <li><a class="dropdown-item" th:href="@{/goals/{goalUuid}/suggestive-actions(goalUuid=${goal.getUuid().toString()})}">Suggestive Actions (<th:block th:text="${suggestiveActionsCountFormatted}"></th:block>)</a></li>
                                <li><a class="dropdown-item" href="#">Coaching Style</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteGoalModal">Delete Goal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="mb-4">
            <h2 class="h3">Description</h2>
            <p th:text="${goal.getDescription()}"></p>
        </div>

        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h3">Subgoals <span class="badge rounded-pill bg-primary"
                                              th:text="${subgoalsCountFormatted}"></span></h2>
                <a th:href="@{/goals/{goalUuid}/subgoals/create(goalUuid=${goal.getUuid().toString()})}"
                   class="btn btn-sm btn-primary">Create Subgoal</a>
            </div>
        </div>

        <div th:if="${subgoals.empty}">
            <h3>You haven't defined any goals yet!</h3>
            <a href="/goals/create" class="btn btn-sm btn-primary">Start with creating one!</a>
        </div>

        <div class="row">
            <div class="col-md-6" th:each="subgoal, subgoalsStat: ${subgoals}">
                <!--                ${goalsStat.count}-->
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${subgoal.getTitle()}"></h5>
                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                        <p class="card-text" th:text="${subgoal.getDescription()}"></p>
                    </div>
                    <div class="card-body">
                        <a th:href="@{'/goals/' + ${goal.uuid.toString()} + '/subgoals/' + ${subgoal.uuid.toString()}}"
                           class="btn btn-sm btn-primary ">View Subgoal
                            Overview</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Goal Modal -->
    <div class="modal fade" id="deleteGoalModal" tabindex="-1" aria-labelledby="deleteGoalModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteGoalModalLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete this goal? This action cannot be undone.

                    <form class="d-none" id="deleteGoalForm" action="#" th:action="@{/goals/{goalUuid}(goalUuid=${goal.getUuid().toString()})}" th:method="delete"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" form="deleteGoalForm">Delete</button>
                </div>
            </div>
        </div>
    </div>

</th:block>

</body>
</html>