<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Login</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="container mt-5">
        <form class="form-signin" th:action="@{/login}" th:object="${userLoginFormRequest}" method="post">

            <div th:if="message" th:class="alert" th:classappend="${'alert-' + messageType}" th:text="${message}"></div>

            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                <h5 class="alert-heading">There are some validation errors!</h5>
                <ul class="mb-0">
                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
                </ul>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" th:field="*{email}" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" th:field="*{password}" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
</th:block>

</body>
</html>