<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Goals</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="container mt-4 pb-4">
        <h1 class="mb-4">Create new Subgoal</h1>

        <form class="row g-3" id="createSubgoalForm" action="#" th:action="@{/goals/{goalUuid}/subgoals(goalUuid=${goal.getUuid().toString()})}" th:object="${subgoal}" method="post">
            <div class="col-md-8">
                <label for="inputTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="inputTitle" th:field="*{title}" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('title')}" th:text="${err}" class="error" />
                    </ul>
                </div>

                <div class="alert alert-info mt-4 d-none" role="alert" id="titleHelpTextWrapper">
                    <h4 class="alert-heading">Need some help with defining your subgoal title?</h4>
                    <p>Check out these resources:</p>
                    <ul>
                        <li><a href="https://www.desteven.nl/leerdoelen/smart-leerdoelen" target="_blank">SMART leerdoelen of SMART doelstellingen</a></li>
                        <li><a href="https://www.randstad.nl/ontwikkelen/persoonlijke-ontwikkeling/smart-doelen" target="_blank">Smart-doelen formuleren</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">

            </div>

            <div class="col-8">
                <label for="inputDescription" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="inputDescription" rows="8" th:field="*{description}" th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}" class="error" />
                    </ul>
                </div>
            </div>

            <div class="col-md-4"></div>

            <div class="col-8">
                <label for="inputDeadline" class="form-label">Deadline</label>
                <input type="datetime-local" class="form-control" id="inputDeadline" th:field="*{deadline}" th:classappend="${#fields.hasErrors('deadline') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('deadline')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('deadline')}" th:text="${err}" class="error" />
                    </ul>
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Create subgoal</button>
            </div>

<!--            <div th:if="${#fields.hasAnyErrors()}">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />-->
<!--                </ul>-->
<!--            </div>-->
        </form>
    </div>
</th:block>

</body>
</html>