<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/common/layouts/plain/index.html}">
<head>
    <title>Goals</title>
</head>
<body>

<th:block layout:fragment="content">
    <div class="py-5 bg-light border">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="h5">
                        <a th:href="@{'/goals/' + ${goal.uuid.toString()}}" th:text="${goal.getTitle()}"></a>
                    </h2>
                    <h1 class="h2 mt-2">Suggestive Actions</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h3">Suggestive Actions <span class="badge rounded-pill bg-primary" th:text="${suggestiveActionsCountFormatted}"></span></h2>
            </div>
        </div>

        <div th:if="${suggestiveActions.empty}">
            <h3>There are no suggestive actions found.</h3>
        </div>

        <div class="row">
            <div class="col-md-6" th:each="suggestiveAction, suggestiveActionsStat: ${suggestiveActions}">
                <div class="card mb-4">
                    <div class="card-body">
                        <th:block th:switch="${suggestiveAction.getType()}">
                            <th:block th:case="${T(com.cyrildewit.pgc.enums.SuggestiveActionType).DELETE_GOAL}">
                                <h5 class="card-title">d</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            </th:block>

                            <th:block th:case="${T(com.cyrildewit.pgc.enums.SuggestiveActionType).CREATE_SUBGOAL}">
                                <h6 class="card-subtitle mb-2 text-muted">Create a subgoal for "<th:block th:text="${goals.get(0).getTitle()}"></th:block>" to divide the goal into smaller steps.</h6>
                                <a th:href="@{'/goals/' + ${goal.uuid.toString()}}/subgoals/create" class="btn btn-sm btn-primary">Create</a>
                            </th:block>
                        </th:block>

                        <h5 class="card-title" th:text="${suggestiveAction.getType().toString()}"></h5>



                        <!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
<!--                        <p class="card-text" th:text="${subgoal.getDescription()}"></p>-->
                    </div>

<!--                    <div class="card-body">-->
<!--                        <a th:href="@{'/goals/' + ${goal.uuid.toString()} + '/subgoals/' + ${subgoal.uuid.toString()}}" class="btn btn-sm btn-primary ">View Subgoal-->
<!--                            Overview</a>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

<!--    &lt;!&ndash; Delete Goal Modal &ndash;&gt;-->
<!--    <div class="modal fade" id="deleteSubgoalModal" tabindex="-1" aria-labelledby="deleteSubgoalModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="deleteSubgoalModalLabel">Are you sure?</h5>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    Do you want to delete this subgoal? This action cannot be undone.-->

<!--                    <form class="d-none" id="deleteGoalForm" action="#" th:action="@{/goals/{goalUuid}/subgoals/{subgoalUuid}(goalUuid=${goal.getUuid().toString()}, subgoalUuid=${subgoal.getUuid().toString()})}" th:method="delete"></form>-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    <button type="submit" class="btn btn-danger" form="deleteGoalForm">Delete</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</th:block>

</body>
</html>